@let _question = question();
@let _result = result();
@let showResult = _result !== undefined;

@if (_question) {
<main>
  <div class="container">
    <div class="header">
      <div>{{ _question?.id }}</div>
      <div><b>{{ catalog() }}:</b> {{ count() }} / {{ totalCount() }} </div>
      <button (click)="reset()">reset</button>
    </div>

    <h1>{{ _question.text }}</h1>

    @for (answer of _question.answers; track $index) {
    <div class="answer">
      <button (click)="selectAnswer($index)" [disabled]="showResult"
        [style.background-color]="showResult && result()?.answerId == $index ? 'lightblue' : null">{{ $index+1
        }}</button>
      <h3>@if (showResult) { {{ answer.correct ? '✅' : '❌' }} } {{ answer.text }}</h3>
    </div>
    }

    @if (showResult) {
    <div class="flex">
      @if (_result.correct) {
      <h2 style="color: green;"> &#127881; RICHTIG </h2>
      } @else {
      <h2 style="color: red;"> &#9940; FALSCH </h2>
      }
      <button class="next-button" (click)="nextQuestion()">WEITER</button>
    </div>
    }
    <app-result-display />
  </div>
</main>
}